backups/Backup a GitHub.json
{"updatedAt":"2026-04-23T14:17:47.009Z","createdAt":"2026-02-13T10:27:54.452Z","id":"hCqU2cojuXjgUOc6iohBu","name":"Backup a GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,96],"id":"906dcf44-b9df-44b5-b8b0-a0b12fee80cb","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"SerbFlorian","mode":"name"},"repository":{"__rl":true,"value":"n8n_workflows_TFG","mode":"list","cachedResultName":"n8n_workflows_TFG","cachedResultUrl":"https://github.com/SerbFlorian/n8n_workflows_TFG"},"filePath":"=backups/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"Backup automatico TFG"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[544,96],"id":"451e2410-bd8b-43a7-a298-0a3224321fdb","name":"Edit a file","webhookId":"d0b9d4d2-3c37-4715-9378-4ded081c2a43","credentials":{"githubApi":{"id":"1ShoqHiMtE3HwGsm","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"SerbFlorian","mode":"name"},"repository":{"__rl":true,"value":"n8n_workflows_TFG","mode":"list","cachedResultName":"n8n_workflows_TFG","cachedResultUrl":"https://github.com/SerbFlorian/n8n_workflows_TFG"},"filePath":"=backups/{{ $node[\"Get many workflows1\"].json.name }}.json","fileContent":"={{ JSON.stringify($node[\"Get many workflows1\"].json) }}","commitMessage":"Backup automatico TFG"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[768,96],"id":"405e841a-dfab-4e78-a28c-4153644273a1","name":"Create a file","webhookId":"d0b9d4d2-3c37-4715-9378-4ded081c2a43","credentials":{"githubApi":{"id":"1ShoqHiMtE3HwGsm","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[304,96],"id":"a66b42b9-77af-41ac-a75a-b96cf065802a","name":"Get many workflows1","credentials":{"n8nApi":{"id":"KZ6oh4GMcUqZVtIF","name":"n8n account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows1","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Get many workflows1":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b43ece6-5253-4f7a-8f45-c181b40fa9c6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-13T10:27:54.456Z","createdAt":"2026-02-13T10:27:54.456Z","role":"workflow:owner","workflowId":"hCqU2cojuXjgUOc6iohBu","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}