backups/Router in production ChatMotor.json
{"updatedAt":"2026-04-26T16:32:44.844Z","createdAt":"2026-02-14T15:50:12.318Z","id":"LzrG4QsJeA_WvZcaJb6Yy","name":"Router in production ChatMotor","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"SIMPLE","operator":{"type":"string","operation":"contains"},"id":"18e4ff03-bdd9-417c-acf6-94d0bb5ebb5e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440553f8-34dd-478b-8ed6-471ce2e0bf7c","leftValue":"={{ $json.output }}","rightValue":"COMPARATIVE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f824b28e-f78f-44b7-ab11-dfa2c39cbea0","leftValue":"={{ $json.output }}","rightValue":"AGENT","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-384,560],"id":"7f1b9fc7-5e9f-4c48-812d-3a7d3a323821","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields4').item.json.prompt }}","options":{"systemMessage":"Role: Expert Automotive Technical Assistant (Specialized in BMW E46).\n\nObjective: Answer user questions regarding vehicle maintenance and repair procedures using EXCLUSIVELY the provided 'Pinecone Vector Store'.\n\nGuidelines:\n1. SOURCE TRUTH: You must base every technical answer on the data retrieved from the 'Pinecone Vector Store'. Do not use outside knowledge for specs.\n2. INTELLIGENT RETRIEVAL:\n   - If the manual uses a synonym (e.g., says \"identical\" when the user asks \"interchangeable\"), YOU MUST make that logical connection and answer.\n   - If the manual describes a procedure that implies an answer, state it clearly based on that evidence.\n3. BEHAVIOR: Be precise, technical, and helpful. Quote specific values or warnings found in the text.\n4. FALLBACK: Only if the tool returns completely unrelated topics or empty results, state: \"I could not find this specific information in the uploaded manual.\"\n\nBoundaries:\n- Language: ALWAYS respond in ENGLISH.\n- Tone: Professional mechanic.\n- Format: Use bullet points for steps or lists.","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0],"id":"a5e269b4-28b9-4a2c-88ac-9ab37c3808c9","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields4').first().json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[96,208],"id":"4d26c166-1e72-4ab2-8b61-6afb64217f55","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"PRIMARY KNOWLEDGE BASE. Use this tool to search for ANY technical query, part specifications, removal procedures, or engine data.\nIMPORTANT: When searching, extract the core keywords from the user's question (e.g., for 'Are sensor rings interchangeable?', search for 'sensor rings adjustment unit'). Do not search for the full question phrasing.","pineconeIndex":{"__rl":true,"value":"tfgchatmotor","mode":"list","cachedResultName":"tfgchatmotor"},"topK":8,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[304,176],"id":"87ed0c35-2e62-4443-9461-a9ad06ebdcbf","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"wzvEXs4f2lkHbdMz","name":"PineconeApi account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,208],"id":"f5d772ab-0bbf-4bfb-817d-3e7ca694c5bc","name":"Google Gemini Chat Model1","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"={{ $('Edit Fields4').first().json.prompt }}"}]},"builtInTools":{"fileSearch":{"fileSearchStoreNames":"[\"fileSearchStores/tfgbmwstorechatmotor-vrj5ofc68epp\"]"}},"options":{"systemMessage":"=You are a technical documentation assistant for BMW mechanics. \nYour goal is to answer the user's question explicitly and strictly based ONLY on the provided context.\n\nCRITICAL RULES:\n1. STRICT RELEVANCE: Answer ONLY what is specifically asked. Do not volunteer extra information or related procedures.\n2. NO HALLUCINATED INTENT: Do not assume the user has mentioned other problems or needs diagnostics not present in the query.\n3. ACCURACY: If the context contains specific measurements (e.g., \"8 mm hose\", \"0.7 mm gap\"), you MUST use them exactly as they appear in the manual.\n4. UNKNOWN: If the answer is not in the context, state \"I cannot find that information in the provided manual.\"\n5. LANGUAGE: ALWAYS respond in English. Use the technical terminology found in the document (e.g., \"wire gauge\", \"feeler gauge\", \"cross-threading\").\n\nResponse Format:\nProvide a direct, factual answer in plain text. No conversational filler."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[160,576],"id":"c7b2f49c-5acf-4862-a04b-dff8844ae1ca","name":"Message a model","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.respuesta) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,576],"id":"6c4afbfe-cfa4-4d79-b899-99e33c486b26","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,576],"id":"8917b5a2-5417-435b-97d9-84ceecdc7d42","name":"Edit Fields"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.respuesta) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1328,832],"id":"00c0b34b-f400-48cd-854a-372348ab96f5","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,832],"id":"0926a95a-3143-499a-866c-431ecda0de9c","name":"Edit Fields1"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"={{ $('Edit Fields4').first().json.prompt }}\n\nYou are a High-Precision Mechanical Diagnostic Specialist. Your ONLY source of truth is the provided manual context. \n\nBEHAVIOR RULES:\n1. ABSOLUTE FIDELITY: Ignore your general knowledge. Use exact measurements (e.g., 8 mm) and tool names from the figures (e.g., wire gauge, feeler gauge) as they appear in the text.\n2. NO FILLER: Do not mention low compression or page 9 procedures unless the user explicitly asks for them. \n3. TECHNICAL DETAIL: When explaining the hose trick, specify the 8 mm internal diameter and explain the \"slip\" mechanism to prevent thread damage.\n\nCRITICAL FORMAT RULE:\nALWAYS RESPOND IN ENGLISH. Provide the response in PLAIN TEXT only. DO NOT use any Markdown: no asterisks, no hashes (#), no bold text, and no bullet points. Separate sections using double line breaks and natural paragraphs. Your response must look like a clean block of text.","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[704,832],"id":"e0ac9fc7-729f-458c-be9c-8a05c94bfeb6","name":"Analyze document","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"notesInFlow":false,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"output\": $json.output } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[816,0],"id":"46bce10a-d29b-46ee-8310-5e4c5ed2d625","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"2acc543e-4455-4aa0-bc03-aee03b258969","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,0],"id":"800bc3ee-3e3d-4ef5-9496-b3aa2de2be5a","name":"Edit Fields2"},{"parameters":{"jsCode":"// 1. Buscamos el archivo en el inicio\n// ANTES ponía: $('When chat message received').first()\n// AHORA debe poner:\nconst triggerData = $('Webhook').first(); \n\n// Esta línea se queda igual, pero ahora leerá del Webhook\nconst binaryData = triggerData.binary;\n\n// 2. Comprobamos si hay PDF\nif (binaryData && Object.keys(binaryData).length > 0) {\n  // SI HAY: Lo inyectamos y ponemos una marca \"hasPDF = true\"\n  items[0].binary = binaryData;\n  items[0].json.hasPDF = true;\n} else {\n  // NO HAY: Solo ponemos la marca \"hasPDF = false\"\n  items[0].json.hasPDF = false;\n}\n\n// 3. Devolvemos todo por la salida única de siempre\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,880],"id":"41e95215-279d-4c1e-869f-789e5e7f748a","name":"Code in JavaScript","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1298cee6-8509-4a67-8cbf-ce169a9d83ff","leftValue":"={{ $json.hasPDF }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[32,880],"id":"e2309dae-c8c3-4634-85cf-0e1952c1eb6a","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={ \"output\": \"{{ $json.output }}\" }","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1056,1072],"id":"53c4fef2-5f5e-491a-b3b4-dc5083b5a8fa","name":"Respond to Webhook3"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"We have not received any PDF file attached. Please make sure to upload the document before proceeding so we can process it correctly.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,1072],"id":"15d262f6-b88c-4f03-9208-a263f6bb111d","name":"Edit Fields3"},{"parameters":{"promptType":"define","text":"=Act as a precise intent classifier for an automotive technical system.\nYour ONLY output must be one of these three strings: SIMPLE, COMPARATIVE, or AGENT.\n\nUser Query: \"{{ $json.prompt }}\"\n\nCLASSIFICATION RULES (Strict Mapping):\n\n1. SIMPLE: The user wants a direct technical fact, a number, a torque value, a fluid capacity, or a single definition.\n   - Purpose: Routes to Architecture 1.\n   - Example: \"What is the oil capacity?\" or \"Torque for cylinder head?\".\n\n2. COMPARATIVE: The user wants to see differences, pros/cons, or comparisons between two engines, parts, or systems.\n   - Purpose: Routes to Architecture 2.\n   - Example: \"Compare N42 vs M43TU\" or \"Difference between Saloon and Coupe coverage\".\n\n3. AGENT: The user describes a problem, a symptom, or asks for a multi-step \"How-to\" procedure.\n   - Purpose: Routes to Architecture 3.\n   - Example: \"How do I replace spark plugs?\" or \"The engine is overheating, what should I check?\".\n\nSTRICT OUTPUT FORMAT:\n- Output EXACTLY one word: SIMPLE, COMPARATIVE, or AGENT.\n- DO NOT use bold text (**).\n- DO NOT use periods (.) or any punctuation.\n- NO conversational filler.\n- If unsure between SIMPLE and AGENT, choose AGENT if there is a \"How-to\" intent.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-832,576],"id":"c3f4d27b-fe4e-48d2-9847-c8e58ce67a0e","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-896,768],"id":"916d343c-1f12-4e39-bc6f-af81bee45c0c","name":"Google Gemini Chat Model2","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-736,768],"id":"daaa43f5-d7f5-4c29-8c95-c2e5ff6adc6e","name":"Simple Memory2"},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1312,576],"id":"9a658f6c-d5bc-4016-adfb-e2bc87cd6682","name":"Webhook","webhookId":"abcbcc4a-102c-4606-ba97-17d7d55b81e7"},{"parameters":{"assignments":{"assignments":[{"id":"2826d1db-2fdc-4a94-bfd6-76878227452f","name":"prompt","value":"={{ $json.body.prompt }}","type":"string"},{"id":"4602b41b-c1f6-4423-94a9-bf9cdfa2762d","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,576],"id":"1c3b6de1-2760-43c0-9588-72595e8599aa","name":"Edit Fields4"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[304,368],"id":"b4c3645f-2653-4ebc-98f4-a816db6c600c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"euAZu0B6JLScf89f","name":"OpenAi account"}}}],"connections":{"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Analyze document","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8598902c-a75c-4599-a053-835aeb94421f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-14T15:50:12.321Z","createdAt":"2026-02-14T15:50:12.321Z","role":"workflow:owner","workflowId":"LzrG4QsJeA_WvZcaJb6Yy","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}