backups/Router with local chat.json
{"updatedAt":"2026-04-26T16:32:34.035Z","createdAt":"2026-02-13T14:40:19.866Z","id":"jSSQSkmJgqAohUpUPZ0fU","name":"Router with local chat","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-896,448],"id":"7ac58b6b-913a-434b-8ec2-7832583ff698","name":"When chat message received","webhookId":"8d85ea8a-caff-4504-9bb1-bba801b1e9bf","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"SIMPLE","operator":{"type":"string","operation":"contains"},"id":"18e4ff03-bdd9-417c-acf6-94d0bb5ebb5e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"440553f8-34dd-478b-8ed6-471ce2e0bf7c","leftValue":"={{ $json.output }}","rightValue":"COMPARATIVE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f824b28e-f78f-44b7-ab11-dfa2c39cbea0","leftValue":"={{ $json.output }}","rightValue":"AGENT","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,432],"id":"1c519d34-cb74-47a8-949c-e7d14d217989","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Role: Expert Automotive Technical Assistant (Specialized in BMW E46).\n\nObjective: Answer user questions regarding vehicle maintenance and repair procedures using EXCLUSIVELY the provided 'Pinecone Vector Store'.\n\nGuidelines:\n1. SOURCE TRUTH: You must base every technical answer on the data retrieved from the 'Pinecone Vector Store'. Do not use outside knowledge for specs.\n2. INTELLIGENT RETRIEVAL:\n   - If the manual uses a synonym (e.g., says \"identical\" when the user asks \"interchangeable\"), YOU MUST make that logical connection and answer.\n   - If the manual describes a procedure that implies an answer, state it clearly based on that evidence.\n3. BEHAVIOR: Be precise, technical, and helpful. Quote specific values or warnings found in the text.\n4. FALLBACK: Only if the tool returns completely unrelated topics or empty results, state: \"I could not find this specific information in the uploaded manual.\"\n\nBoundaries:\n- Language: ALWAYS respond in ENGLISH.\n- Tone: Professional mechanic.\n- Format: Use bullet points for steps or lists.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[192,-128],"id":"361f6b1d-4658-4842-a8e1-3ab74cdaae51","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,80],"id":"2c8518eb-bb53-48bf-800a-485908f59c53","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"PRIMARY KNOWLEDGE BASE. Use this tool to search for ANY technical query, part specifications, removal procedures, or engine data.\nIMPORTANT: When searching, extract the core keywords from the user's question (e.g., for 'Are sensor rings interchangeable?', search for 'sensor rings adjustment unit'). Do not search for the full question phrasing.","pineconeIndex":{"__rl":true,"value":"tfgchatmotor","mode":"list","cachedResultName":"tfgchatmotor"},"topK":8,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[496,48],"id":"4cc63874-0df1-4797-a2d0-0eada17e1a4a","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"wzvEXs4f2lkHbdMz","name":"PineconeApi account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[128,80],"id":"efb30532-612c-43ea-ad12-b82db99b3062","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"clEJE0tQiuz2mcFi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"={{ $('When chat message received').item.json.chatInput }}"}]},"builtInTools":{"fileSearch":{"fileSearchStoreNames":"[\"fileSearchStores/chatmotortfg-rmv4339zxuzc\"]"}},"options":{"systemMessage":"=You are a technical documentation assistant for BMW mechanics. \nYour goal is to answer the user's question explicitly and strictly based ONLY on the provided context.\n\nCRITICAL RULES:\n1. STRICT RELEVANCE: Answer ONLY what is specifically asked. Do not volunteer extra information or related procedures.\n2. NO HALLUCINATED INTENT: Do not assume the user has mentioned other problems or needs diagnostics not present in the query.\n3. ACCURACY: If the context contains specific measurements (e.g., \"8 mm hose\", \"0.7 mm gap\"), you MUST use them exactly as they appear in the manual.\n4. UNKNOWN: If the answer is not in the context, state \"I cannot find that information in the provided manual.\"\n5. LANGUAGE: ALWAYS respond in English. Use the technical terminology found in the document (e.g., \"wire gauge\", \"feeler gauge\", \"cross-threading\").\n\nResponse Format:\nProvide a direct, factual answer in plain text. No conversational filler."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[352,448],"id":"775d38a7-58ac-462e-a657-02f8b7be00b9","name":"Message a model","credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.respuesta) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[944,448],"id":"fffa1875-c794-4f17-8b67-d2a80273d38a","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,448],"id":"1a30aaa3-e23c-4bdb-bcfb-4ea7d7add2b9","name":"Edit Fields"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.respuesta) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1520,704],"id":"50889bcc-d8ad-4d5a-a63e-2c9146d784b2","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,704],"id":"80718746-62fd-49e1-b29e-1bbd72a879cf","name":"Edit Fields1"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"={{ $('When chat message received').item.json.chatInput }}\n\nYou are a High-Precision Mechanical Diagnostic Specialist. Your ONLY source of truth is the provided manual context. \n\nBEHAVIOR RULES:\n1. ABSOLUTE FIDELITY: Ignore your general knowledge. Use exact measurements (e.g., 8 mm) and tool names from the figures (e.g., wire gauge, feeler gauge) as they appear in the text.\n2. NO FILLER: Do not mention low compression or page 9 procedures unless the user explicitly asks for them. \n3. TECHNICAL DETAIL: When explaining the hose trick, specify the 8 mm internal diameter and explain the \"slip\" mechanism to prevent thread damage.\n\nCRITICAL FORMAT RULE:\nALWAYS RESPOND IN ENGLISH. Provide the response in PLAIN TEXT only. DO NOT use any Markdown: no asterisks, no hashes (#), no bold text, and no bullet points. Separate sections using double line breaks and natural paragraphs. Your response must look like a clean block of text.","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[896,704],"id":"4bdc47d1-7d43-4571-849d-30bea3a76c13","name":"Analyze document","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"output\": $json.output } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1008,-128],"id":"1138ed98-7d3d-42ca-abb1-ef5f19729da0","name":"Respond to Webhook2"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-128],"id":"2c6cf69a-cfa1-494f-8421-3b4adfe0c70c","name":"Edit Fields2"},{"parameters":{"jsCode":"// 1. Obtenemos todos los items de entrada\nconst items = $input.all();\n\n// 2. Tomamos el nodo correcto (el que realmente existe)\nconst triggerData = $('When chat message received').first();\n\n// 3. Leemos el binary del trigger\nconst binaryData = triggerData.binary;\n\n// 4. Comprobamos si hay archivo\nif (binaryData && Object.keys(binaryData).length > 0) {\n  items[0].binary = binaryData;\n  items[0].json.hasPDF = true;\n} else {\n  items[0].json.hasPDF = false;\n}\n\n// 5. Devolvemos los items\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,752],"id":"5e332671-425a-4ea9-9d12-23c8e8c3d615","name":"Code in JavaScript","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1298cee6-8509-4a67-8cbf-ce169a9d83ff","leftValue":"={{ $json.hasPDF }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,752],"id":"17904c1d-2b8a-48c3-ba52-d6688f1f3439","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={ \"output\": \"{{ $json.output }}\" }","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1248,944],"id":"3bfeaa7b-663c-4eaf-8f22-5fcc73661696","name":"Respond to Webhook3"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"output\": \"Error: No has adjuntado el PDF. Por favor súbelo.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,944],"id":"5111d49c-4648-446a-a730-66183ac99851","name":"Edit Fields3"},{"parameters":{"promptType":"define","text":"=Act as a precise intent classifier for an automotive technical system.\nYour ONLY output must be one of these three strings: SIMPLE, COMPARATIVE, or AGENT.\n\nUser Query: \"{{ $json.chatInput }}\"\n\nCLASSIFICATION RULES (Strict Mapping):\n\n1. SIMPLE: The user wants a direct technical fact, a number, a torque value, a fluid capacity, or a single definition.\n   - Purpose: Routes to Architecture 1.\n   - Example: \"What is the oil capacity?\" or \"Torque for cylinder head?\".\n\n2. COMPARATIVE: The user wants to see differences, pros/cons, or comparisons between two engines, parts, or systems.\n   - Purpose: Routes to Architecture 2.\n   - Example: \"Compare N42 vs M43TU\" or \"Difference between Saloon and Coupe coverage\".\n\n3. AGENT: The user describes a problem, a symptom, or asks for a multi-step \"How-to\" procedure.\n   - Purpose: Routes to Architecture 3.\n   - Example: \"How do I replace spark plugs?\" or \"The engine is overheating, what should I check?\".\n\nSTRICT OUTPUT FORMAT:\n- Output EXACTLY one word: SIMPLE, COMPARATIVE, or AGENT.\n- DO NOT use bold text (**).\n- DO NOT use periods (.) or any punctuation.\n- NO conversational filler.\n- If unsure between SIMPLE and AGENT, choose AGENT if there is a \"How-to\" intent.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-640,448],"id":"bd4b2e7b-e0bf-4e4e-891d-802b62da0e42","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-704,640],"id":"7918b770-e317-49fc-8eb4-8d43be59cab7","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-544,640],"id":"bc7be39e-95f5-4a30-a30c-421c954eae68","name":"Simple Memory2"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[496,240],"id":"4a4ab71d-fa2e-4e46-8a40-a36c90cfce60","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"euAZu0B6JLScf89f","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Analyze document","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3104030-5013-47f0-a72a-44ab68f98623","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-13T14:40:19.869Z","createdAt":"2026-02-13T14:40:19.869Z","role":"workflow:owner","workflowId":"jSSQSkmJgqAohUpUPZ0fU","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}