backups/TFG_LongContext.json
{"updatedAt":"2026-04-26T16:44:58.377Z","createdAt":"2026-02-11T15:27:34.929Z","id":"z2TUaVADzFsKepLg","name":"TFG_LongContext","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Subir Manual","formFields":{"values":[{"fieldLabel":"Archivo PDF","fieldType":"file","fieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[192,0],"id":"abfb6feb-6c79-4f61-9048-875375121483","name":"On form submission","webhookId":"2f52e70e-fab1-47cc-ba4b-60a0ca05ddf3"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"How do I correctly replace the water pump on the M54 engine?\n\nYou are a High-Precision Mechanical Diagnostic Specialist. Your ONLY source of truth is the provided manual context. \n\nBEHAVIOR RULES:\n1. ABSOLUTE FIDELITY: Ignore your general knowledge. Use exact measurements (e.g., 8 mm) and tool names from the figures (e.g., wire gauge, feeler gauge) as they appear in the text.\n2. NO FILLER: Do not mention low compression or page 9 procedures unless the user explicitly asks for them. \n3. TECHNICAL DETAIL: When explaining the hose trick, specify the 8 mm internal diameter and explain the \"slip\" mechanism to prevent thread damage.\n\nCRITICAL FORMAT RULE:\nALWAYS RESPOND IN ENGLISH. Provide the response in PLAIN TEXT only. DO NOT use any Markdown: no asterisks, no hashes (#), no bold text, and no bullet points. Separate sections using double line breaks and natural paragraphs. Your response must look like a clean block of text.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[400,0],"id":"2ba2c786-0d27-4762-bcff-e6b011ec1460","name":"Analyze document","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[832,0],"id":"2a8ccd84-1c43-44d2-add7-0f5c7b331339","name":"When chat message received","webhookId":"66625f69-e8c9-4b17-9ba2-da1b9150e5c3"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"={{ $json.chatInput }}\n\nYou are a High-Precision Mechanical Diagnostic Specialist. Your ONLY source of truth is the provided manual context. \n\nBEHAVIOR RULES:\n1. ABSOLUTE FIDELITY: Ignore your general knowledge. Use exact measurements (e.g., 8 mm) and tool names from the figures (e.g., wire gauge, feeler gauge) as they appear in the text.\n2. NO FILLER: Do not mention low compression or page 9 procedures unless the user explicitly asks for them. \n3. TECHNICAL DETAIL: When explaining the hose trick, specify the 8 mm internal diameter and explain the \"slip\" mechanism to prevent thread damage.\n\nCRITICAL FORMAT RULE:\nALWAYS RESPOND IN ENGLISH. Provide the response in PLAIN TEXT only. DO NOT use any Markdown: no asterisks, no hashes (#), no bold text, and no bullet points. Separate sections using double line breaks and natural paragraphs. Your response must look like a clean block of text.","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1056,0],"id":"793784f1-a048-4872-8f74-100bbdfff6c3","name":"Analyze document1","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"notesInFlow":false,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"content":"## Full document scan and NO response shown in chat","height":304,"width":624,"color":4},"type":"n8n-nodes-base.stickyNote","position":[64,-112],"typeVersion":1,"id":"9df3b14f-6141-4bac-b7af-912674948247","name":"Sticky Note"},{"parameters":{"content":"## Chat interaction","height":304,"width":624,"color":5},"type":"n8n-nodes-base.stickyNote","position":[784,-112],"typeVersion":1,"id":"2743728f-5f1c-4758-ab8e-77eb48033cd3","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,0],"id":"5c56a29b-4360-4f63-8923-cbce2299e78e","name":"Edit Fields1"}],"connections":{"On form submission":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Analyze document1","type":"main","index":0}]]},"Analyze document1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a349616-a267-48f6-8f6d-8ffa638c5373","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-11T15:27:34.931Z","createdAt":"2026-02-11T15:27:34.931Z","role":"workflow:owner","workflowId":"z2TUaVADzFsKepLg","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}