backups/TFG_RAG_modular.json
{"updatedAt":"2026-04-26T16:40:45.237Z","createdAt":"2026-02-11T15:21:38.738Z","id":"HQaaF8kRhu2Eg6DymNFSD","name":"TFG_RAG_modular","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[272,-160],"id":"ad949211-6f53-4290-911c-30d95bfd0c74","name":"When chat message received","webhookId":"66625f69-e8c9-4b17-9ba2-da1b9150e5c3"},{"parameters":{"options":{"systemMessage":"Role: Expert Automotive Technical Assistant (Specialized in BMW E46).\n\nObjective: Answer user questions regarding vehicle maintenance and repair procedures using EXCLUSIVELY the provided 'Pinecone Vector Store'.\n\nGuidelines:\n1. SOURCE TRUTH: You must base every technical answer on the data retrieved from the 'Pinecone Vector Store'. Do not use outside knowledge for specs.\n2. INTELLIGENT RETRIEVAL:\n   - If the manual uses a synonym (e.g., says \"identical\" when the user asks \"interchangeable\"), YOU MUST make that logical connection and answer.\n   - If the manual describes a procedure that implies an answer, state it clearly based on that evidence.\n3. BEHAVIOR: Be precise, technical, and helpful. Quote specific values or warnings found in the text.\n4. FALLBACK: Only if the tool returns completely unrelated topics or empty results, state: \"I could not find this specific information in the uploaded manual.\"\n\nBoundaries:\n- Language: ALWAYS respond in ENGLISH.\n- Tone: Professional mechanic.\n- Format: Use bullet points for steps or lists.","maxIterations":5}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[480,-160],"id":"ac874ba3-e6d3-44f0-a0c7-a5e197d51e24","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,48],"id":"f66ef94c-3afc-4b1e-948a-bbee6678b16c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"clEJE0tQiuz2mcFi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[496,48],"id":"c8089304-8c2b-4f07-aa9b-2afd2710ba02","name":"Simple Memory"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"PRIMARY KNOWLEDGE BASE. Use this tool to search for ANY technical query, part specifications, removal procedures, or engine data.\nIMPORTANT: When searching, extract the core keywords from the user's question (e.g., for 'Are sensor rings interchangeable?', search for 'sensor rings adjustment unit'). Do not search for the full question phrasing.","pineconeIndex":{"__rl":true,"value":"tfgchatmotor","mode":"list","cachedResultName":"tfgchatmotor"},"topK":8,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[640,48],"id":"94926d1e-6be3-4e0c-ac16-5a4b9c04397e","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"wzvEXs4f2lkHbdMz","name":"PineconeApi account"}}},{"parameters":{"content":"## 1. INGESTION (Loading the Manual)","height":592,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-752,-272],"typeVersion":1,"id":"090e114e-c580-4504-9cf7-bcb073a4dad4","name":"Sticky Note"},{"parameters":{"content":"## 2. Chat with Agent","height":560,"width":704,"color":5},"type":"n8n-nodes-base.stickyNote","position":[224,-240],"typeVersion":1,"id":"c89e411b-accf-4ac2-bdf3-aad140fe6ee4","name":"Sticky Note1"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[640,176],"id":"a9d3859d-2b12-4751-9cf7-52796bc379f4","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"euAZu0B6JLScf89f","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-128,160],"id":"26066eb8-7b04-4d64-8c17-28760cac1894","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-432,-192],"id":"3ffdbab6-7814-4669-adef-7d2e62a8c169","name":"Extract from File1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"tfgchatmotor","mode":"list","cachedResultName":"tfgchatmotor"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-240,-192],"id":"1f3a1655-a47a-4ee4-bdb4-1a1c48343263","name":"Pinecone Vector Store2","notesInFlow":false,"credentials":{"pineconeApi":{"id":"wzvEXs4f2lkHbdMz","name":"PineconeApi account"}}},{"parameters":{"formTitle":"Subir Manual","formFields":{"values":[{"fieldLabel":"Archivo PDF","fieldType":"file","fieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-640,-192],"id":"52680a2b-02b9-446e-a501-1e1bc58a74e0","name":"On form submission1","webhookId":"7f0cd932-f119-48bf-bd93-bf2f89b3d692"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-272,0],"id":"66de8350-2529-4ef8-9080-059a685d15ac","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"euAZu0B6JLScf89f","name":"OpenAi account"}}},{"parameters":{"textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"text","value":"={{ $json.text }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-128,0],"id":"8601db1c-0aa4-4b4c-89aa-093ab53144bb","name":"Default Data Loader1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Extract from File1":{"main":[[{"node":"Pinecone Vector Store2","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store2","type":"ai_document","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c36aab76-dfb8-4390-808a-0c37b5a0d1e5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-11T15:21:38.741Z","createdAt":"2026-02-11T15:21:38.741Z","role":"workflow:owner","workflowId":"HQaaF8kRhu2Eg6DymNFSD","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}