backups/TFG_RAG_managed.json
{"updatedAt":"2026-04-26T16:42:03.787Z","createdAt":"2026-02-10T21:14:33.719Z","id":"FWR-opFVBaZA1NU_kQFsr","name":"TFG_RAG_managed","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileSearch","operation":"uploadToStore","fileSearchStoreName":"fileSearchStores/chatmotortfg-rmv4339zxuzc","displayName":"chatmotortfg","inputType":"binary"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[592,-32],"id":"fcd8854f-c4a3-4ffc-afb1-810e2a91b78d","name":"Upload a file to a File Search store","credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"formTitle":"Subir Manual","formFields":{"values":[{"fieldLabel":"Archivo PDF","fieldType":"file","fieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[368,-32],"id":"12ada503-737a-4a52-816b-51a49bd4a497","name":"On form submission","webhookId":"80932f4a-abab-4acb-a1da-bc43c7afe15a"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"You are a technical documentation assistant for BMW mechanics. \nYour goal is to answer the user's question explicitly and strictly based ONLY on the provided context.\n\nCRITICAL RULES:\n1. STRICT RELEVANCE: Answer ONLY what is specifically asked. Do not volunteer extra information or related procedures.\n2. NO HALLUCINATED INTENT: Do not assume the user has mentioned other problems or needs diagnostics not present in the query.\n3. ACCURACY: If the context contains specific measurements (e.g., \"8 mm hose\", \"0.7 mm gap\"), you MUST use them exactly as they appear in the manual.\n4. UNKNOWN: If the answer is not in the context, state \"I cannot find that information in the provided manual.\"\n5. LANGUAGE: ALWAYS respond in English. Use the technical terminology found in the document (e.g., \"wire gauge\", \"feeler gauge\", \"cross-threading\").\n\nResponse Format:\nProvide a direct, factual answer in plain text. No conversational filler."}]},"simplify":false,"builtInTools":{"fileSearch":{"fileSearchStoreNames":"[\"fileSearchStores/chatmotortfg-rmv4339zxuzc\"]"}},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[784,-32],"id":"bd15041f-2f94-4887-aca3-0c169036afdd","name":"Message a model","credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"resource":"fileSearch","displayName":"chatmotor_lambda"},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-16,-32],"id":"b06455ec-0637-45ae-9304-bb3a8f5b3953","name":"Create a File Search store","credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"content":"## 2. INGESTION (Loading the Manual)","height":304,"width":816,"color":4},"type":"n8n-nodes-base.stickyNote","position":[320,-128],"typeVersion":1,"id":"e31fe401-3076-44e7-ba57-e94055edea83","name":"Sticky Note"},{"parameters":{"content":"## 3. Chat with Agent","height":336,"width":768,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1232,-144],"typeVersion":1,"id":"f3a100ba-99c9-4c36-8e13-cdfe521bd0dd","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[1280,-16],"id":"d84a0eeb-4c5a-4266-a751-7abf13698968","name":"When chat message received","webhookId":"66625f69-e8c9-4b17-9ba2-da1b9150e5c3"},{"parameters":{"assignments":{"assignments":[{"id":"89801f98-2635-43c7-9ebf-27a07f36f7b7","name":"respuesta","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,-16],"id":"dc0539ab-0237-4b37-b8c9-3ee47a963a5c","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"={{ $json.chatInput }}"}]},"builtInTools":{"fileSearch":{"fileSearchStoreNames":"[\"fileSearchStores/chatmotortfg-rmv4339zxuzc\"]"}},"options":{"systemMessage":"=You are a technical documentation assistant for BMW mechanics. \nYour goal is to answer the user's question explicitly and strictly based ONLY on the provided context.\n\nCRITICAL RULES:\n1. STRICT RELEVANCE: Answer ONLY what is specifically asked. Do not volunteer extra information or related procedures.\n2. NO HALLUCINATED INTENT: Do not assume the user has mentioned other problems or needs diagnostics not present in the query.\n3. ACCURACY: If the context contains specific measurements (e.g., \"8 mm hose\", \"0.7 mm gap\"), you MUST use them exactly as they appear in the manual.\n4. UNKNOWN: If the answer is not in the context, state \"I cannot find that information in the provided manual.\"\n5. LANGUAGE: ALWAYS respond in English. Use the technical terminology found in the document (e.g., \"wire gauge\", \"feeler gauge\", \"cross-threading\").\n\nResponse Format:\nProvide a direct, factual answer in plain text. No conversational filler."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1488,-16],"id":"33cf043c-ec27-4c91-bf97-64878bbaa9f3","name":"Message a model1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"content":"## 1. CREATE File Search Storage","height":304,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-304,-128],"typeVersion":1,"id":"aede1e16-15ad-420b-bcfe-533cc110fb9f","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-32],"id":"a5c040a3-53f1-4526-b4d6-a293f1fd361c","name":"When clicking ‘Execute workflow’"}],"connections":{"On form submission":{"main":[[{"node":"Upload a file to a File Search store","type":"main","index":0}]]},"Upload a file to a File Search store":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create a File Search store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33ee3137-e4e0-4a65-ba6c-6153bfcd7c56","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T21:14:33.721Z","createdAt":"2026-02-10T21:14:33.721Z","role":"workflow:owner","workflowId":"FWR-opFVBaZA1NU_kQFsr","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}