backups/TFG_Benchmark.json
{"updatedAt":"2026-04-26T16:38:04.730Z","createdAt":"2026-02-16T07:54:01.872Z","id":"AEQgAvYi7GrIz0BZIc1XN","name":"TFG_Benchmark","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json.Question }}","options":{"systemMessage":"You are a technical assistant for BMW mechanics. You have access to a vector database with the official Workshop Manual via the 'bmw_manual_search' tool.\n\nProtocol:\n\n1. FIRST, you MUST use the 'bmw_manual_search' tool to try to retrieve the official information for the user query. Perform ONLY ONE search attempt to save resources.\n\n2. EVALUATE the information returned by the tool:\n   - If the tool returns relevant information: Base your answer STRICTLY on that context and mention it comes from the manual.\n   - If the tool returns NO relevant information or misses the specific detail: **DO NOT give up.** Instead, use your **internal knowledge and training data** to provide the best possible technical answer.\n\n3. IMPORTANT:\n   - Do NOT state \"Data not found\". Always try to answer.\n   - If you answer from memory (without manual context), add a disclaimer: \"(Answer based on general knowledge, not verified in current manual context)\".\n   - Keep the answer concise and direct.","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1104,-272],"id":"2954bf43-4f93-4689-834d-2e2c0d414c42","name":"AI Agent","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use this tool to SEARCH the official BMW E46 Workshop Manual. \nEssential for retrieving specific technical data: torque values, fluid capacities, engine codes (N42, M54, M43TU), and step-by-step repair procedures. \nYou MUST use this tool as the FIRST step for every technical question to verify specs against the official documentation.","pineconeIndex":{"__rl":true,"value":"tfgchatmotor","mode":"list","cachedResultName":"tfgchatmotor"},"topK":8,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[1168,-32],"id":"e324b6cb-6c16-4b8f-9efd-91d7f93c6ebd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"wzvEXs4f2lkHbdMz","name":"PineconeApi account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-3-flash-preview"},"messages":{"values":[{"content":"={{ $('Loop Over Items1').item.json.Question }}"}]},"simplify":false,"builtInTools":{"fileSearch":{"fileSearchStoreNames":"[\"fileSearchStores/chatmotortfg-rmv4339zxuzc\"]"}},"options":{"systemMessage":"=You are a technical documentation assistant for BMW mechanics. \nYour goal is to answer the user's question explicitly and strictly based ONLY on the provided context.\n\nCRITICAL RULES:\n1. STRICT RELEVANCE: Answer ONLY what is specifically asked. Do not volunteer extra information or related procedures.\n2. NO HALLUCINATED INTENT: Do not assume the user has mentioned other problems or needs diagnostics not present in the query.\n3. ACCURACY: If the context contains specific measurements (e.g., \"8 mm hose\", \"0.7 mm gap\"), you MUST use them exactly as they appear in the manual.\n4. UNKNOWN: If the answer is not in the context, state \"I cannot find that information in the provided manual.\"\n5. LANGUAGE: ALWAYS respond in English. Use the technical terminology found in the document (e.g., \"wire gauge\", \"feeler gauge\", \"cross-threading\").\n\nResponse Format:\nProvide a direct, factual answer in plain text. No conversational filler."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1136,464],"id":"8561bbbe-5429-4990-b671-eb8d80ad3d38","name":"Message a model","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googlePalmApi":{"id":"dXaI1gfFUOmIcxPc","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-3-flash-preview","mode":"list","cachedResultName":"models/gemini-3-flash-preview"},"text":"={{ $('Loop Over Items2').item.json.Question }}\n\nROLE: You are a Deep-Search Technical Auditor specializing in the BMW E46 Workshop Manual. You have the entire document in your memory context.\n\nSEARCH STRATEGY (MANDATORY):\n1. IGNORE \"EASY\" FAILURES: Do not give up immediately. Data like \"Spark Plug Gap\", \"OBD Location\", or \"Torques\" is often found in the \"Specifications\" tables at the beginning of chapters or in the \"Maintenance Procedures\" section. You MUST look there.\n2. SCAN ALL SECTIONS: The answer might be in a diagram caption, a \"General Data\" table, or embedded in a repair step. Scan the entire document content.\n3. EXTRACT DETAILS: If the manual gives a range (e.g., \"0.7 to 0.9 mm\"), provide the full range. If it distinguishes between engines (M43 vs M54), list both.\n4. NO LAZINESS: \"Information not found\" is a last resort. Only say this if the information is genuinely missing from the entire PDF.\n\nBEHAVIOR RULES:\n- ABSOLUTE ACCURACY: Use the exact numbers and units from the text.\n- CONTEXT AWARENESS: Distinguish between 4-cylinder and 6-cylinder instructions if the manual separates them.\n- NO HALLUCINATIONS: Do not invent the \"hose trick\" or other fillers. Answer ONLY what is asked.\n\nOUTPUT FORMAT:\n- Language: English ONLY.\n- Style: Direct and technical.\n- Format: PLAIN TEXT ONLY. No Markdown, no asterisks, no hashes, no bullet points. Use double line breaks to separate paragraphs.","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[1344,848],"id":"7339e2a6-d855-470e-ab9d-2b57ecdb59e1","name":"Analyze document","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"notesInFlow":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1168,160],"id":"15e36667-7e4f-4b4f-a9af-7d2ac208ba89","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"euAZu0B6JLScf89f","name":"OpenAi account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"start_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[736,-64],"id":"1334b5d5-7760-45a7-ac61-22e5eab20fe3","name":"Date & Time"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,-80],"id":"bc1cc46b-ea45-465f-acb5-4c92a6c84077","name":"Loop Over Items"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"end_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1728,-64],"id":"74e2ab0e-1cb2-488e-9c50-c2f6a5a82bfc","name":"Date & Time1"},{"parameters":{"assignments":{"assignments":[{"id":"dd961380-7513-460d-a602-3dc22c5f2060","name":"ID","value":"={{ $('Loop Over Items').item.json.ID }}","type":"number"},{"id":"a4fa1f80-ef6f-4623-a428-4a12ef9d8f87","name":"Arch1_Response","value":"={{ $('AI Agent').item.json.output }}","type":"string"},{"id":"1ba1f6e2-c661-4c60-824c-31e1d0c32bb7","name":"Arch1_Time","value":"={{ $json.end_time - $('Date & Time').item.json.start_time }}","type":"string"},{"id":"a5e7d231-df1a-4c3a-99db-249899d8c0ae","name":"=Arch1_Input_Tokens","value":"={{ $('Code in JavaScript1').item.json.Calculated_Input_Tokens }}","type":"number"},{"id":"dccce451-105f-4373-82d5-9d3b32af1f7d","name":"Arch1_Output_Tokens","value":"={{ $('Code in JavaScript1').item.json.Calculated_Output_Tokens }}","type":"string"},{"id":"a2d5556c-16db-4c40-b1cf-750b4fa95c99","name":"Arch1_Chunks:","value":"={{ $('Code in JavaScript1').item.json.Chunks_Retrieved }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1936,-64],"id":"44edcc1e-7181-497d-af95-413fffb17f83","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,832],"id":"79c08497-80e0-4b71-9aa3-7ba92b2b6085","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1764396694,"mode":"list","cachedResultName":"Original_Arch1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=1764396694"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[304,-80],"id":"320a85f8-068a-44e5-9bf6-70be11ea523f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1764396694,"mode":"list","cachedResultName":"Original_Arch1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=1764396694"},"columns":{"mappingMode":"defineBelow","value":{"Arch1_Response":"={{ $json.Arch1_Response }}","ID":"={{ $json.ID }}","Arch1_Time":"={{ $json.Arch1_Time }}","Arch1_Input_Tokens":"={{ $json.Arch1_Input_Tokens }}","Arch1_Output_Tokens":"={{ $json.Arch1_Output_Tokens }}","Arch1_Chunks:":"={{ $json['Arch1_Chunks:'] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Difficulty","displayName":"Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question","displayName":"Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reference_Answer","displayName":"Reference_Answer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch1_Response","displayName":"Arch1_Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch1_Time","displayName":"Arch1_Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch1_Time_segundos","displayName":"Arch1_Time_segundos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch1_Input_Tokens","displayName":"Arch1_Input_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch1_Output_Tokens","displayName":"Arch1_Output_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch1_Chunks:","displayName":"Arch1_Chunks:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Puntuación preguntas(1/10)","displayName":"Puntuación preguntas(1/10)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2144,-64],"id":"15e5a259-25f7-42a1-9928-14f84bdbe3c0","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"start_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[848,464],"id":"93c3b00b-0f26-44f1-9029-838bc88d0d32","name":"Date & Time2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,448],"id":"c2d402cd-9b57-4494-a5a0-61dc4d0ba879","name":"Loop Over Items1"},{"parameters":{"documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":974624252,"mode":"list","cachedResultName":"Original_Arch2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=974624252"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[304,448],"id":"85cfa432-52cf-4b5f-a103-61f516009252","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"end_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1760,464],"id":"7496f788-74bf-4aae-adfa-5a203eb04671","name":"Date & Time3"},{"parameters":{"assignments":{"assignments":[{"id":"dd961380-7513-460d-a602-3dc22c5f2060","name":"ID","value":"={{ $('Loop Over Items1').item.json.ID }}","type":"number"},{"id":"a4fa1f80-ef6f-4623-a428-4a12ef9d8f87","name":"Arch2_Response","value":"={{ $('Message a model').item.json.candidates[0].content.parts[0].text }}","type":"string"},{"id":"116e08a5-b1be-4133-905c-510130347764","name":"Arch2_Time","value":"={{ $json.end_time - $('Date & Time2').item.json.start_time }}","type":"number"},{"id":"86b074ff-3d20-48ea-b8eb-b5b3dab5bef3","name":"Arch2_Input_Tokens","value":"={{ $('Code in JavaScript2').item.json.Arch2_Input_Tokens }}","type":"string"},{"id":"a27c767f-81a2-4165-968e-50376fd6d5b5","name":"Arch2_Output_Tokens","value":"={{ $('Code in JavaScript2').item.json.Arch2_Output_Tokens }}","type":"string"},{"id":"9777152c-ffd9-49a8-9a24-613d586397a5","name":"Arch2_Chunks:","value":"={{ $('Code in JavaScript2').item.json.Arch2_Chunks }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,464],"id":"ec99a535-cf72-484b-9a53-72ed51095ec9","name":"Edit Fields4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":974624252,"mode":"list","cachedResultName":"Original_Arch2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=974624252"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","Arch2_Response":"={{ $json.Arch2_Response }}","Arch2_Time":"={{ $json.Arch2_Time }}","Arch2_Input_Tokens":"={{ $json.Arch2_Input_Tokens }}","Arch2_Output_Tokens":"={{ $json.Arch2_Output_Tokens }}","Arch2_Chunks:":"={{ $json['Arch2_Chunks:'] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Difficulty","displayName":"Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question","displayName":"Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reference_Answer","displayName":"Reference_Answer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch2_Response","displayName":"Arch2_Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch2_Time","displayName":"Arch2_Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch2_Time_segundos","displayName":"Arch2_Time_segundos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch2_Input_Tokens","displayName":"Arch2_Input_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch2_Output_Tokens","displayName":"Arch2_Output_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch2_Chunks:","displayName":"Arch2_Chunks:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch2_Coste_Estimado","displayName":"Arch2_Coste_Estimado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Puntuación preguntas(1/10)","displayName":"Puntuación preguntas(1/10)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2176,464],"id":"f9f4a853-859c-41fd-8bb5-00d9113fec3d","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"end_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1792,848],"id":"ccd68732-f914-4544-b19f-c5b8debb15a3","name":"Date & Time4"},{"parameters":{"assignments":{"assignments":[{"id":"dd961380-7513-460d-a602-3dc22c5f2060","name":"ID","value":"={{ $('Loop Over Items2').item.json.ID }}","type":"number"},{"id":"a4fa1f80-ef6f-4623-a428-4a12ef9d8f87","name":"Arch3_Response","value":"={{ $('Analyze document').item.json.candidates[0].content.parts[0].text }}","type":"string"},{"id":"9383a85e-5ebe-4f5b-afab-15f5bd38a1ea","name":"Arch3_Time","value":"={{ $json.end_time - $('Date & Time5').item.json.start_time }}","type":"string"},{"id":"9590a50b-46c8-4d38-b3ff-c63dab29be7a","name":"Arch3_Input_Tokens","value":"={{ $('Code in JavaScript3').item.json.Arch3_Input_Tokens }}","type":"string"},{"id":"5d4b74de-63cb-416d-b5ef-dc2e3b4b903e","name":"Arch3_Output_Tokens","value":"={{ $('Code in JavaScript3').item.json.Arch3_Output_Tokens }}","type":"string"},{"id":"cf6afc8f-07a8-4f0b-91cd-4f4758fa3de6","name":"Arch3_Chunks:","value":"={{ $('Code in JavaScript3').item.json.Arch3_Chunks }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,848],"id":"4bb21d6e-45a0-47a6-92e5-2d6ac07d4cf8","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035752531,"mode":"list","cachedResultName":"Arch3_captura-Informe-Benchmark","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=1035752531"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","Arch3_Response":"={{ $json.Arch3_Response }}","Arch3_Time":"={{ $json.Arch3_Time }}","Arch3_Input_Tokens":"={{ $json.Arch3_Input_Tokens }}","Arch3_Output_Tokens":"={{ $json.Arch3_Output_Tokens }}","Arch3_Chunks:":"={{ $json['Arch3_Chunks:'] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Difficulty","displayName":"Difficulty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Question","displayName":"Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reference_Answer","displayName":"Reference_Answer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Response","displayName":"Arch3_Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Arch3_Time","displayName":"Arch3_Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Arch3_Time_seconds","displayName":"Arch3_Time_seconds","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Input_Tokens","displayName":"Arch3_Input_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Arch3_Input_Tokens_PDF","displayName":"Arch3_Input_Tokens_PDF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Output_Tokens","displayName":"Arch3_Output_Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Arch3_Chunks:","displayName":"Arch3_Chunks:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Arch3_Cost_Gemini-3_0-Flash","displayName":"Arch3_Cost_Gemini-3_0-Flash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Question_score_(0/10)","displayName":"Arch3_Question_score_(0/10)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Context_Found_(Sí/No)","displayName":"Arch3_Context_Found_(Sí/No)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Hallucination","displayName":"Arch3_Hallucination","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Question_score_Judge(0/10)","displayName":"Arch3_Question_score_Judge(0/10)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Arch3_Judge_Reasoning","displayName":"Arch3_Judge_Reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,848],"id":"ccdcca59-5bae-40a7-983a-55228077b4c4","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"x","outputFieldName":"start_time","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1104,848],"id":"34efa21b-768f-4019-ae82-45ad56246a5a","name":"Date & Time5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,832],"id":"d0572882-0441-48e2-af01-d1a638bde44e","name":"Loop Over Items2"},{"parameters":{"documentId":{"__rl":true,"value":"18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI","mode":"list","cachedResultName":"TFG_Benchmark_Questions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035752531,"mode":"list","cachedResultName":"Arch3_captura-Informe-Benchmark","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18JfI-pNyR1YjPiS5lbkYHR42GyRjcF_WtEjqPGPhPnI/edit#gid=1035752531"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,832],"id":"6b1df48f-8053-4e98-aa2d-d5e7b1f74e63","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"c93ZJwWePRmHs5Wt","name":"Google Sheets account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1qGQyW_lHYBEMe7QA3J019YV24ykWJ4Ji","mode":"list","cachedResultName":"BMW_E46_Manual_Taller_Completo_compressed.pdf","cachedResultUrl":"https://drive.google.com/file/d/1qGQyW_lHYBEMe7QA3J019YV24ykWJ4Ji/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,832],"id":"103d525f-ea3f-4ba5-83c8-6ef28479dcfe","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"F1Upnzszli2UbRoW","name":"Google Drive account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// 1. Accedemos al primer (y único) ítem del nodo de descarga\nconst downloadNode = $('Download file').first();\n\n// 2. Comprobamos si el nodo tiene datos binarios\nif (!downloadNode.binary) {\n  throw new Error('No se encontró ningún archivo binario en el nodo \"Download file\". Asegúrate de ejecutarlo antes.');\n}\n\n// 3. Obtenemos el nombre de la propiedad binaria (normalmente es 'data')\nconst binaryPropertyName = Object.keys(downloadNode.binary)[0];\n\n// 4. Se lo inyectamos al ítem actual que viene del Loop\n$input.item.binary = {\n  data: downloadNode.binary[binaryPropertyName]\n};\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,848],"id":"ee810a77-deab-486b-baed-3e47e9c0ffd8","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1. Obtenemos los datos crudos del Agente\nconst agentData = $('AI Agent').last().json;\n\n// 2. Definimos las variables base\nlet question = $('Loop Over Items').item.json.Question || \"\";\nlet answer = agentData.output || \"\";\nlet contextText = \"\";\nlet chunksUsed = 0;\n\n// 3. EXTRACCIÓN FORENSE: Buscamos dentro de los pasos intermedios lo que devolvió Pinecone\ntry {\n  if (agentData.intermediateSteps && agentData.intermediateSteps.length > 0) {\n    // Normalmente el paso 0 es la búsqueda en Pinecone\n    const pineconeRaw = agentData.intermediateSteps[0].observation;\n    \n    // A veces viene como texto JSON, intentamos parsearlo para contar chunks reales\n    if (typeof pineconeRaw === 'string' && (pineconeRaw.startsWith('[') || pineconeRaw.startsWith('{'))) {\n       try {\n         const pineconeJson = JSON.parse(pineconeRaw);\n         if (Array.isArray(pineconeJson)) {\n           chunksUsed = pineconeJson.length; // Número de Chunks\n           // Sumamos el texto de todos los chunks para calcular tokens\n           contextText = pineconeJson.map(c => c.pageContent || JSON.stringify(c)).join(\" \");\n         }\n       } catch(e) {\n         // Si falla el parseo, lo tratamos como texto plano\n         contextText = pineconeRaw;\n         chunksUsed = 1; // Asumimos 1 bloque grande\n       }\n    } else {\n       contextText = pineconeRaw || \"\";\n       chunksUsed = 1;\n    }\n  }\n} catch (error) {\n  console.log(\"No se pudo extraer el contexto de los pasos intermedios\");\n}\n\n// 4. CÁLCULO DE TOKENS (Estimación estandarizada: 1 token = 4 caracteres)\n// Input = Prompt del Sistema (aprox 500) + Pregunta + Contexto Recuperado\nconst estimatedInputTokens = Math.ceil((500 + question.length + contextText.length) / 4);\n\n// Output = La respuesta final\nconst estimatedOutputTokens = Math.ceil(answer.length / 4);\n\n// 5. Devolvemos los datos listos para tu Excel\nreturn {\n  json: {\n    ...agentData,\n    Calculated_Input_Tokens: estimatedInputTokens,\n    Calculated_Output_Tokens: estimatedOutputTokens,\n    Chunks_Retrieved: chunksUsed,\n    Arch1_Response: answer // Para asegurar que tienes la respuesta limpia\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-64],"id":"3794dd45-9e36-43a4-81b5-98ae06556ae7","name":"Code in JavaScript1"},{"parameters":{"jsCode":"// --- 1. CONFIGURACIÓN ROBUSTA ---\n// Intentamos adivinar el nombre del nodo Loop si cambia\nlet loopNodeName = 'Loop Over Items1'; \nlet questionText = \"\";\n\n// Intentamos sacar la pregunta. Si falla con 'Loop Over Items1', probamos sin el '1'\ntry {\n    questionText = $(loopNodeName).item.json.Question || \"\";\n} catch (e) {\n    try {\n        loopNodeName = 'Loop Over Items';\n        questionText = $(loopNodeName).item.json.Question || \"\";\n    } catch (e2) {\n        // Si no encuentra la pregunta, ponemos un texto placeholder para no dar 0\n        questionText = \"Question not found in Loop\"; \n    }\n}\n\n// Obtenemos los datos del modelo\nconst nodeName = 'Message a model'; \nlet modelData;\ntry {\n    modelData = $(nodeName).last().json;\n} catch (error) {\n    // Si fallas aquí, es que el nombre 'Message a model' está mal.\n    // Creamos un objeto dummy para que el código no rompa.\n    modelData = { text: \"Error: Node not found\" };\n}\n\n// --- 2. EXTRACCIÓN DEL OUTPUT (RESPUESTA) ---\n// Buscamos la respuesta en TODOS los lugares posibles de Google Vertex\nlet answerText = \"\";\n\nif (modelData.text) {\n    answerText = modelData.text;\n} else if (modelData.output) {\n    answerText = modelData.output;\n} else if (modelData.groundingSupports && Array.isArray(modelData.groundingSupports)) {\n    // Reconstruimos la respuesta desde los segmentos de soporte\n    answerText = modelData.groundingSupports.map(s => s.segment?.text || \"\").join(\" \");\n} else if (modelData.predictions && modelData.predictions[0]?.content) {\n    answerText = modelData.predictions[0].content;\n}\n\n// FALLBACK DE EMERGENCIA: Si sigue vacío, usamos el JSON completo como string\nif (!answerText || answerText.length === 0) {\n    answerText = JSON.stringify(modelData);\n}\n\n// --- 3. EXTRACCIÓN DEL INPUT (CONTEXTO + PREGUNTA) ---\nlet contextTextLength = 0;\nlet chunksCount = 0;\n\nif (modelData.groundingChunks && Array.isArray(modelData.groundingChunks)) {\n    chunksCount = modelData.groundingChunks.length;\n    modelData.groundingChunks.forEach(chunk => {\n        if (chunk.retrievedContext?.text) {\n            contextTextLength += chunk.retrievedContext.text.length;\n        }\n    });\n}\n\n// --- 4. CÁLCULOS FINALES (Estimación: 4 caracteres = 1 Token) ---\n\nlet calculatedOutput = Math.ceil(answerText.length / 4);\n// Seguridad: Si la respuesta es muy corta (ej: \"4.0 litres\"), mínimo 5 tokens\nif (calculatedOutput < 5) calculatedOutput = 5;\n\nlet calculatedInput = 0;\n\nif (contextTextLength > 0) {\n    // Escenario ideal: Encontramos el texto del PDF\n    calculatedInput = Math.ceil((questionText.length + contextTextLength) / 4);\n} else {\n    // ESCENARIO DE SEGURIDAD (Si no encuentra chunks):\n    // Asumimos que si hubo respuesta, leyó al menos algo. \n    // Estimamos un input de 10 veces el output (ratio típico RAG) + la pregunta.\n    calculatedInput = Math.ceil(questionText.length / 4) + (calculatedOutput * 10);\n    \n    // Si chunks sigue siendo 0 pero hubo respuesta, marcamos 1 chunk \"fantasma\"\n    if (chunksCount === 0) chunksCount = 1;\n}\n\n// --- 5. RESULTADO ---\nreturn {\n  json: {\n    ...modelData,\n    Arch2_Input_Tokens: calculatedInput,\n    Arch2_Output_Tokens: calculatedOutput,\n    Arch2_Chunks: chunksCount,\n    // Debug para que veas qué texto ha encontrado realmente\n    _Debug_Answer_Found: answerText.substring(0, 50) + \"...\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,464],"id":"ed4e90f6-a547-4fd7-8cca-b30d41adae80","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// --- 1. CONFIGURACIÓN ---\nconst nodeName = 'Analyze document'; \nconst loopNodeName = 'Loop Over Items2'; // O 'Loop Over Items'\n\n// Intentamos sacar la pregunta del usuario\nlet questionText = \"\";\ntry {\n    questionText = $(loopNodeName).item.json.Question || \"\";\n} catch (e) {\n    try {\n        questionText = $('Loop Over Items').item.json.Question || \"\";\n    } catch (e2) {\n        questionText = \"Question not found\"; \n    }\n}\n\n// Obtenemos los datos del nodo \"Analyze document\"\nlet modelData;\ntry {\n    modelData = $(nodeName).last().json;\n} catch (error) {\n    modelData = { text: \"Error: Node not found. Check node name.\" };\n}\n\n// --- 2. EXTRACCIÓN DE METADATOS REALES ---\nlet inputTokens = modelData.usageMetadata?.promptTokenCount || modelData.usage?.prompt_tokens || 0;\nlet outputTokens = modelData.usageMetadata?.candidatesTokenCount || modelData.usage?.completion_tokens || 0;\n\n\n// --- 3. EXTRACCIÓN DEL OUTPUT (RESPUESTA DE LA IA) ---\nlet answerText = \"\";\n\n// Lógica de búsqueda\nif (modelData.text && typeof modelData.text === 'string' && modelData.text.length < 5000) { \n    answerText = modelData.text;\n} else if (modelData.output) {\n    answerText = modelData.output;\n} else if (modelData.responses && modelData.responses[0]?.text) {\n    answerText = modelData.responses[0].text;\n} else if (modelData.content) {\n    answerText = modelData.content;\n}\n\n// --- CORRECCIÓN DEL ERROR (Blindaje de tipos) ---\n// Si answerText es un objeto o null, lo convertimos a String obligatoriamente\nif (!answerText) {\n    answerText = \"Empty response\";\n} else if (typeof answerText !== 'string') {\n    answerText = JSON.stringify(answerText);\n}\n\n// Fallback de longitud para no ensuciar el log si es gigante\nlet previewText = answerText;\nif (answerText.length > 500) {\n    previewText = answerText.substring(0, 500) + \"...\";\n}\n\n// --- 4. CÁLCULO DE TOKENS ---\n\n// --- 4. CÁLCULO DE TOKENS ---\n// OUTPUT (Respuesta)\nif (outputTokens === 0) {\n    outputTokens = Math.ceil(answerText.length / 4);\n    if (outputTokens < 5) outputTokens = 10; \n}\n// INPUT (Pregunta)\nlet chunksCount = 1;\nif (inputTokens === 0) {\n\t// Si la API falla al devolver los metadatos, usamos la deducción empírica.\n    let questionTokens = Math.ceil(questionText.length / 4);\n\t   inputTokens = questionTokens;\n}\n// --- 5. RESULTADO ---\nreturn {\n  json: {\n    ...modelData,\n    Arch3_Input_Tokens: inputTokens,\n    Arch3_Output_Tokens: outputTokens,\n    Arch3_Chunks: chunksCount,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,848],"id":"b388c48b-950b-481f-b9a5-9844c40972df","name":"Code in JavaScript3"},{"parameters":{"content":"# RAG modular","height":608,"width":2176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[208,-304],"typeVersion":1,"id":"ec6c20c8-0d95-44b1-898c-43ea4bc30c17","name":"Sticky Note"},{"parameters":{"content":"# RAG managed","height":336,"width":2192,"color":5},"type":"n8n-nodes-base.stickyNote","position":[208,352],"typeVersion":1,"id":"45cd094a-e262-430b-aedc-a5c6ea26b254","name":"Sticky Note1"},{"parameters":{"content":"# Long context","height":352,"width":2256,"color":6},"type":"n8n-nodes-base.stickyNote","position":[144,736],"typeVersion":1,"id":"01287f80-2bc8-40dc-b445-5581dc76df28","name":"Sticky Note2"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[992,-32],"id":"97825bb1-96d6-4ed7-8004-5a1647a4eb12","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Pf6poPRF3AzjjIWf","name":"Google Gemini(PaLM) Api account 3"}}}],"connections":{"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Date & Time2","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Date & Time3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Date & Time4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Date & Time5":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Date & Time5","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Date & Time3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Date & Time4","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0bad7afb-28d7-476d-912e-58ff79b3f5e4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-16T07:54:01.876Z","createdAt":"2026-02-16T07:54:01.876Z","role":"workflow:owner","workflowId":"AEQgAvYi7GrIz0BZIc1XN","projectId":"kkKzUoD3Hb5MJHwj"}],"activeVersion":null,"tags":[]}